@import '../material/styles/defaults';
@import "../material/styles/general";

.app-box {
  border: $default-border;
  border-radius: $default-border-radius;
  margin: 2vh;
  padding: 1em;
}

.detail {
  flex: 1;
  margin: 0.5em 1em;
  &--label {
    text-align: right;
  }
  &--content {
    text-align: left;
  }
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.column-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (max-width: $max-md-width) {
  .row-container-md {
    flex-direction: column;
  }
}
