@import '../material/styles/defaults';
@import "../material/styles/general";

/*
span {
  padding: 0px 10px;
}*/

.data-modul {
  border: $default-border;
  border-radius: 1em;
  margin: 2vh;
  padding: 1em;
}

//label {
//  display: block;
//}
.detail-label {
  flex: 1;
  text-align: right;
  margin: 0.5em 1em;
}

.detail-content {
  flex: 1;
  text-align: left;
  margin: 0.5em 1em;
}

.flex1 {
  flex: 1;
}

.detail-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.row-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
 }

.column-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (max-width: $max-md-width) {
  .row-container {
    flex-direction: column;
  }
}

/**
material Anpassungen
 */

