@import '../material/styles/constants';
@import "../material/styles/general";

.detail {
  flex: 1;
  margin: 0.5em 1em;
  &--label {
    text-align: right;
  }
  &--content {
    text-align: left;
  }
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.column-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (max-width: $max-md-width) {
  .row-container-md {
    flex-direction: column;
  }
}
