$default-border-style: solid;
$default-border-width: 1px;
$default-border-color: rgba(0, 0, 0, .12);
$default-border:    $default-border-style $default-border-width $default-border-color;
$max-xs-width: 40em;
