<h2>
  <div *ngIf="isMutateMode; else doCreate">{{ 'meetup.titleMutate' | translate }}</div>
  <ng-template #doCreate>{{ 'meetup.titleCreate' | translate }}</ng-template>
</h2>

<form *ngIf="form" [formGroup]="form" novalidate (ngSubmit)="submit()">
  <label>{{'meetup.date' | translate}}<input type="date" formControlName="date"></label>
  <app-validation-feedback *ngIf="form.controls.date | hasError:'required'">{{ 'meetup.error.dateRequired' | translate }}</app-validation-feedback>
  <app-validation-feedback *ngIf="form.controls.date | hasError:'dateNotBefore'">{{ 'meetup.error.dateInThePast' | translate }}</app-validation-feedback>

  <br>
  <label>{{'meetup.time' | translate}}
    <label>{{'meetup.fromTime' | translate}}</label><input type="time" formControlName="fromTime">
    <label>{{'meetup.toTime' | translate}}</label><input type="time" formControlName="toTime"></label>
    <app-validation-feedback *ngIf="form.controls.fromTime | hasError:'required'">{{ 'meetup.error.fromTimeRequired' | translate }}</app-validation-feedback>
    <app-validation-feedback *ngIf="form.controls.fromTime | hasError:'timeNotBefore'">{{ 'meetup.error.fromTimeInPast' | translate }}</app-validation-feedback>
    <app-validation-feedback *ngIf="form.controls.toTime | hasError:'required'">{{ 'meetup.error.toTimeRequired' | translate }}</app-validation-feedback>
    <app-validation-feedback *ngIf="form | hasError:'timeAfterBefore'">{{ 'meetup.error.fromBeforeToTime' | translate }}</app-validation-feedback>
  <br>
  <div>
    <span>{{ 'meetup.location' | translate }}</span>
    <label><input type="radio" formControlName="locationType" value="in">{{ 'meetup.indoorRadio' | translate }}</label>
    <label><input type="radio" formControlName="locationType" value="out">{{ 'meetup.outdoorRadio' | translate }}</label>
    <div *ngIf="isIndoor(); else outdoor">
      <label>{{'meetup.indoor' | translate}}</label>
      <select formControlName="indoor">
        <option *ngFor="let hall of halls" value="{{hall.key}}">{{hall.name}}</option>
      </select>
    </div>
    <ng-template #outdoor><label>{{'meetup.outdoor' | translate}}<input formControlName="outdoor"></label></ng-template>
    <app-validation-feedback *ngIf="form | hasError:'oneOfAll'">{{ 'meetup.error.onOfAll' | translate }}</app-validation-feedback>
  </div>
  <label>{{'meetup.activity' | translate}}<input formControlName="activity"></label>
  <br>
  <button>{{'meetup.submit' | translate}}</button>
</form>
