<div class="app-page">
  <div class="app-spacer-vert--m"></div>
  <h2 class="mat-h1 page-title">
    <div *ngIf="isMutateMode; else doCreate">{{ 'meetup.titleMutate' | translate }}</div>
    <ng-template #doCreate>{{ 'meetup.titleCreate' | translate }}</ng-template>
  </h2>
  <section class="app-box">
  <form *ngIf="form" [formGroup]="form" novalidate (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="{{'meetup.date' | translate}}" formControlName="date" type="date" >
      <mat-error *ngIf="form.controls.date | hasError:'required'">{{ 'meetup.error.dateRequired' | translate }}</mat-error>
      <mat-error *ngIf="form.controls.date | hasError:'notBefore'">{{ 'meetup.error.dateInThePast' | translate }}</mat-error>
    </mat-form-field>

    <br>
      <mat-form-field>
        <input matInput placeholder="{{'meetup.fromTime' | translate}}" formControlName="fromTime" type="time">
        <mat-error *ngIf="form.controls.fromTime | hasError:'required'">{{ 'meetup.error.fromTimeRequired' | translate }}</mat-error>
        <mat-error *ngIf="form | hasError:'combinedMomentNotBefore'">{{ 'meetup.error.fromTimeInPast' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'meetup.toTime' | translate}}" formControlName="toTime" type="time">
        <mat-error *ngIf="form.controls.toTime | hasError:'required'">{{ 'meetup.error.toTimeRequired' | translate }}</mat-error>
        <mat-error *ngIf="form | hasError:'timeAfterBefore'">{{ 'meetup.error.fromBeforeToTime' | translate }}</mat-error>
      </mat-form-field>
    <br>
    <div>
      <span>{{ 'meetup.location' | translate }}</span>
      <mat-radio-group formControlName="locationType">
        <mat-radio-button value="{{locationType.INDOOR}}">{{ 'meetup.indoorRadio' | translate }}</mat-radio-button>
        <mat-radio-button value="{{locationType.OUTDOOR}}">{{ 'meetup.outdoorRadio' | translate }}</mat-radio-button>
      </mat-radio-group>
      <div *ngIf="isIndoor(); else outdoor">
        <mat-form-field class="mat-field-large">
          <mat-select placeholder="{{'meetup.indoor' | translate}}" formControlName="indoor">
            <mat-option *ngFor="let hall of halls" [value]="hall.key">{{hall.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <ng-template #outdoor>
        <br>
        <mat-form-field class="mat-field-large">
            <input matInput placeholder="{{'meetup.outdoor' | translate}}" formControlName="outdoor">
        </mat-form-field>
      </ng-template>
      <mat-error *ngIf="form | hasError:'oneOfAll'">{{ 'meetup.error.oneOfAll' | translate }}</mat-error>
    </div>
    <mat-form-field class="mat-field-large">
      <textarea matInput matTextareaAutosize matAutosizeMinRows="2" placeholder="{{'meetup.activity' | translate}}" formControlName="activity"></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent">{{'meetup.submit' | translate}}</button>
  </form>
  </section>
</div>
