<h2>
  <div *ngIf="isMutateMode; else doCreate">{{ 'meetup.titleMutate' | translate }}</div>
  <ng-template #doCreate>{{ 'meetup.titleCreate' | translate }}</ng-template>
</h2>

<form *ngIf="form" [formGroup]="form" novalidate (ngSubmit)="submit()">
  <label>{{'meetup.date' | translate}}<input type="date" formControlName="date"></label>
  <br>
  <label>{{'meetup.time' | translate}}
    <label>{{'meetup.fromTime' | translate}}</label><input type="time" formControlName="fromTime">
    <label>{{'meetup.to | translate'}}</label><input type="time" formControlName="toTime"></label>
  <br>
  <div>
    <span>{{ 'meetup.location' | translate }}</span>
    <label><input type="radio" formControlName="locationType" value="in">{{ 'meetup.indoor' | translate }}</label>
    <label><input type="radio" formControlName="locationType" value="out">{{ 'meetup.outdoor' | translate }}</label>
    <div *ngIf="isIndoor(); else outdoor">
      <label>{{'meetup.location.indoor' | translate}}</label>
      <select formControlName="indoor">
        <option *ngFor="let hall of halls" value="{{hall.key}}">{{hall.name}}</option>
      </select>
    </div>
    <ng-template #outdoor><label>{{'meetup.location.outdoor' | translate}}<input formControlName="outdoor"></label></ng-template>
  </div>
  <label>{{'meetup.activity' | translate}}<input formControlName="activity"></label>
  <br>
  <button>{{'meetup.submit' | translate}}</button>
</form>
