@import 'constants';

.mat-dialog-title {
  border-bottom: $default-border;
}

button {
  min-width: 10vw;
}

.mat-dialog-content {
  margin-top: 2em;
  margin-bottom: 1em;
}

@media (max-width: $max-xs-width) {
  button {
    min-width: 30vw;
  }
}
