@import "chrome";

.form-field-pre-suffix {
  width: 180px;
}

input[type="number"] {
  text-align: right;
}

.page-title {
  margin-top: 0em;
}



.app-page {
  text-align: center;
  display: block;
  max-width: 80em;
  margin: auto;
}

/** TODO zusammenfassen**/
.app-spacer-vert-m {
    display: block;
    height: 1em;
    margin: 0;
    padding: 0;
}

.app-spacer-vert-l {
  display: block;
  height: 2em;
  margin: 0;
  padding: 0;
}

/** Material **/
mat-form-field span[matPrefix]{
  padding-right: 0.3em;
}

mat-form-field span[matSuffix] {
  padding-left: 0.3em;
}

mat-radio-group, mat-form-field, mat-table {
  padding: 1em;
}
