<h2>{{ 'search.title' | translate }}</h2>

<form novalidate [formGroup]="searchForm" (ngSubmit)="startSearch()">
  <div>
    <span>{{ 'search.location' | translate }}</span>
    <label><input type="radio" formControlName="locationType" value="in">{{ 'search.indoorRadio' | translate }}</label>
    <label><input type="radio" formControlName="locationType" value="out">{{ 'search.outdoorRadio' | translate }}</label>
    <div *ngIf="isIndoor(); else outdoor">{{'search.indoor' | translate}}
      <select formControlName="indoor">
        <option *ngFor="let hall of halls" value="{{hall.key}}">{{hall.name}}</option>
      </select>
    </div>
    <ng-template #outdoor>{{'search.outdoor' | translate}}<input formControlName="outdoor"></ng-template>
  </div>
  <label>{{'search.from' | translate}} <input type="datetime-local" formControlName="fromDateTime"></label>
  <app-validation-feedback *ngIf="searchForm.controls.fromDateTime | hasError:'required'">{{ 'search.error.fromDateTimeRequired' | translate }}</app-validation-feedback>
  <app-validation-feedback *ngIf="searchForm.controls.fromDateTime | hasError:'notBefore'">{{ 'search.error.dateTimeInThePast' | translate }}</app-validation-feedback>
  <label>{{'search.to' | translate}} <input type="datetime-local" formControlName="toDateTime"></label>
  <app-validation-feedback *ngIf="searchForm.controls.toDateTime | hasError:'required'">{{ 'search.error.toDateTimeRequired' | translate }}</app-validation-feedback>
  <app-validation-feedback *ngIf="searchForm | hasError:'timeAfterBefore'">{{ 'search.error.fromBeforeToTime' | translate }}</app-validation-feedback>
  <div>
    <span>{{ 'search.sex' | translate }}</span>
    <label><input type="radio" formControlName="sex" value="m">{{ 'search.man' | translate }}</label>
    <label><input type="radio" formControlName="sex" value="f">{{ 'search.women' | translate }}</label>
  </div>
  <label>{{ 'search.weight' | translate }}</label>
  <label>{{'search.weightMin' | translate}}<input type="number" formControlName="weightMin">{{'search.kg' | translate}}</label>
  <label>{{'search.weightMax' | translate}}<input type="number" formControlName="weightMax">{{'search.kg' | translate}}</label>
  <button>{{'search.start' | translate}}</button>
</form>
<div *ngIf="hasAllreadySearched">
  <table *ngIf="results.length > 0; else noResult">
    <tr>
      <th>{{'search.owner' | translate}}</th>
      <th>{{'search.from_th' | translate}}</th>
      <th>{{'search.to_th' | translate}}</th>
      <th>{{'search.location_th' | translate}}</th>
      <th></th>
    </tr>
    <tr *ngFor="let meetup of results"  routerLink="/meetupdetail" [queryParams]="{meetupId: meetup.id}">
      <td>{{ meetup.owner.username }}</td>
      <td>{{meetup.from | dateTimeFormat}}</td>
      <td>{{meetup.to | dateTimeFormat}}</td>
      <td>{{getLocation(meetup)}}</td>
      <td><button (click)="requestForParticipation($event, meetup.id)">{{'search.startRequest' | translate}}</button></td>
    </tr>
  </table>
  <ng-template #noResult><h3>{{'search.noResults' | translate}}</h3></ng-template>
</div>
