@import "../material/table";

.app-search {
  text-align: center;
}

.search-button {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}

.mat-h1 {
  margin-top: 1em;
}

mat-radio-group, mat-form-field, mat-table {
  padding: 10px;
}

button {
  display: block;
}

.numberInput {
  text-align: right;
}

/*Bug Chrome*/
.mat-input-element {
  width: 105%;
  max-width: 105%;
}
