
.mat-h1 {
  margin-top: 1em;
}

mat-radio-group, mat-form-field, mat-table {
  padding: 10px;
}

button {
  display: block;
}

.numberInput {
  text-align: right;
}

.mat-table {
  background: transparent;
}

/*Bug Chrome*/
.mat-input-element {
  width: 105%;
  max-width: 105%;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media (max-width: 60em)  {

  /* Force table to not be like tables anymore */
  mat-table, mat-header-row, mat-header-cell, mat-row, mat-cell {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  mat-header-row {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  mat-header-row, mat-row { border: 1px solid #ccc; }

  mat-cell {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  mat-cell:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0.5em;
    left: 0.5em;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
    Label the data
    */
  mat-cell:nth-of-type(1):before { content: "User"; }
  mat-cell:nth-of-type(2):before { content: "Ort"; }
  mat-cell:nth-of-type(3):before { content: "Startzeit"; }
  mat-cell:nth-of-type(4):before { content: "Endzeit"; }
  mat-cell:nth-of-type(5):before { content: " "; }
}
