@import '../material/styles/table';
@import '../material/styles/general';

.app-search {
  text-align: center;
}

.search-button {
  width: 50%;
  display: inline-block;
  margin-top: 2em;
}

.right-hand {
  display: inline-block;
}

.no-result {
  text-align: center;
}

