

mat-radio-group, mat-form-field, mat-table {
  padding: 10px;
}

button {
  display: block;
}

.numberInput {
  text-align: right;
}

.mat-table {
  background: transparent;
}

/*Bug Chrome*/
.mat-input-element {
  width: 105%;
  max-width: 105%;
}
