<div class="app-page">
  <div class="app-spacer-vert--m"></div>
  <h2 class="mat-h1 page-title">{{ 'search.title' | translate }}</h2>

  <section class="app-box">
    <form novalidate [formGroup]="searchForm" (ngSubmit)="startSearch()">
      <mat-form-field>
        <input matInput placeholder="{{'search.from' | translate}}" formControlName="fromDateTime" type="datetime-local">
        <mat-error *ngIf="searchForm.controls.fromDateTime | hasError:'required'">{{ 'search.error.fromDateTimeRequired' | translate }}</mat-error>
        <mat-error *ngIf="searchForm.controls.fromDateTime | hasError:'notBefore'">{{ 'search.error.dateTimeInThePast' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [errorStateMatcher]="beginAfterBeforeMatcher" placeholder="{{'search.to' | translate}}" formControlName="toDateTime" type="datetime-local">
        <mat-error *ngIf="searchForm.controls.toDateTime | hasError:'required'">{{ 'search.error.toDateTimeRequired' | translate }}</mat-error>
        <mat-error *ngIf="searchForm | hasError:'timeAfterBefore'">{{ 'search.error.fromBeforeToTime' | translate }}</mat-error>
      </mat-form-field>
      <br>
      <span class="right-hand">
        <mat-radio-group formControlName="locationType">
          <mat-radio-button value="{{locationType.INDOOR}}">{{ 'search.indoorRadio' | translate }}</mat-radio-button>
          <mat-radio-button value="{{locationType.OUTDOOR}}">{{ 'search.outdoorRadio' | translate }}</mat-radio-button>
        </mat-radio-group>
        <mat-form-field *ngIf="isIndoor(); else outdoor">
          <mat-select formControlName="indoor" placeholder="{{'search.indoor' | translate}}">
            <mat-option *ngFor="let hall of halls" [value]="hall.key">{{hall.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <ng-template #outdoor>
          <mat-form-field>
            <input matInput formControlName="outdoor" placeholder="{{'search.outdoor' | translate}}">
          </mat-form-field>
          <span class="right-hand">
            <button mat-raised-button color="accent" (click)="showGoogleMapsDialog()" type="button">{{'Google Maps'}}</button>
            <mat-form-field>
              <input matInput formControlName="radius" placeholder="{{'search.radius' | translate}}" type="number">
              <span matSuffix>{{'search.km' | translate}}</span>
            </mat-form-field>
          </span>
        </ng-template>
      </span>

      <div class="mat-h2">{{ 'search.partner' | translate}}</div>

      <mat-form-field class="form-field-pre-suffix">
        <input matInput formControlName="weightMin" placeholder="{{ 'search.weight' | translate }}" type="number">
        <span matPrefix>{{'search.weightMin' | translate}}</span>
        <span matSuffix>{{'search.kg' | translate}}</span>
      </mat-form-field>
      <mat-form-field class="form-field-pre-suffix">
        <input matInput formControlName="weightMax" placeholder="{{ 'search.weight' | translate }}" type="number">
        <span matPrefix>{{'search.weightMax' | translate}}</span>
        <span matSuffix>{{'search.kg' | translate}}</span>
      </mat-form-field>

      <mat-radio-group formControlName="sex" class="right-hand">
        <mat-radio-button value="{{sexType.MALE}}">{{ 'search.man' | translate }}</mat-radio-button>
        <mat-radio-button value="{{sexType.FEMALE}}">{{ 'search.women' | translate }}</mat-radio-button>
      </mat-radio-group>

      <div>
        <button mat-raised-button color="accent" class="search-button">{{'search.start' | translate}}</button>
      </div>
    </form>
  </section>

  <section>
    <ng-template #noResult>
      <div class="app-spacer-vert--m"></div>
      <h3 *ngIf="hasAllreadySearched" class="mat-h3 no-result" >{{'search.noResults' | translate}}</h3>
    </ng-template>

    <mat-table #table *ngIf="results.data.length > 0; else noResult" [dataSource]="results" matSort (matSortChange)="sortResults($event)">
      <!-- Owner Column -->
      <ng-container matColumnDef="owner">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'search.owner' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let meetup"> <mat-header-cell class="xs-header">{{'search.owner' | translate}}</mat-header-cell>{{meetup.owner.username}}</mat-cell>
      </ng-container>
      <!-- Start Time Column -->
      <ng-container matColumnDef="fromTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'search.from_th' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let meetup"> <mat-header-cell class="xs-header">{{'search.from_th' | translate}}</mat-header-cell>{{meetup.from | dateTimeFormat}}</mat-cell>
      </ng-container>
      <!-- End Time Column -->
      <ng-container matColumnDef="toTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'search.to_th' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let meetup"> <mat-header-cell class="xs-header">{{'search.to_th' | translate}}</mat-header-cell>{{meetup.to | dateTimeFormat}}</mat-cell>
      </ng-container>
      <!-- Location Column -->
      <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'search.location_th' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let meetup"> <mat-header-cell class="xs-header">{{'search.location_th' | translate}}</mat-header-cell>{{getLocation(meetup)}}</mat-cell>
      </ng-container>
      <!-- Register Column -->
      <ng-container matColumnDef="register">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let meetup"> <button mat-raised-button color="primary" (click)="requestForParticipation($event, meetup)">{{'search.startRequest' | translate}}</button> </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnDefinition"></mat-header-row>
      <mat-row routerLink="/meetupdetail" [queryParams]="{meetupId: meetup.id}" *matRowDef="let meetup; columns: columnDefinition;"></mat-row>
    </mat-table>
  </section>
</div>
