<div class="app-page--s">
  <div class="app-spacer-vert--m"></div>
  <h1 class="mat-h1 page-title">{{ 'login.title' | translate }}</h1>

  <section class="app-box">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onClickLogin()">

      <mat-form-field>
        <input matInput placeholder="{{ 'login.name' | translate }}" formControlName="username">
        <mat-error *ngIf="loginForm.controls.username | hasError:'required'">{{ 'login.error.nameRequired' | translate }}</mat-error> <!-- spezifische Validierungs Fehler -->
        <mat-error *ngIf="loginForm.controls.username | hasError:'minlength'">{{ 'login.error.nameMinLength' | translate }}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="{{ 'login.password' | translate }}" formControlName="password" type="password">
        <mat-error *ngIf="loginForm.controls.password | hasError:'required'">{{ 'login.error.passwordRequired' | translate }}</mat-error>
        <mat-error *ngIf="loginForm.controls.password | hasError:'minlength'">{{ 'login.error.passwordMinLength' | translate }}</mat-error>
      </mat-form-field>
      <br>

      <button mat-raised-button color="accent" type="submit">{{ 'login.loginUser' | translate }}</button>
    </form>
  </section>
</div>

