* {
  padding: 0px 10px;
}

.details {
  display: none;
}

.participant:hover + .details {
  background-color: lightblue;
  display: block;
}

/*sonst zittert das ganze Geschnupfe*/
.details:hover {
  display: block;
  background-color: lightblue;
}
