
    <label matTooltip="Geschlecht: männlich / Gewicht: 65 kg">{{meetupRequest.participant.username}}</label>
    <!--
    <label matTooltip="Geschlecht: männlich / Gewicht: 65 kg" *ngIf="showStateButtons">{{meetupRequest.status | translate}}</label>

    <button mat-button *ngIf="showStateButtons" (click)="setState(requestStatus.ACCEPT)">{{'participant.accept' | translate}}</button>
    <button mat-button *ngIf="showStateButtons" (click)="setState(requestStatus.DECLINED)"> {{'participant.decline' | translate}}</button>
-->

  <!--
  <label>{{'participant.sex' | translate}}  {{('participant.' + meetupRequest.participant.sex) | translate}}</label>
  <label>{{'participant.weight' | translate}}  {{meetupRequest.participant.weight}} {{'participant.kg' | translate}}</label>
-->
