@import "chrome";

.form-field-pre-suffix {
  width: 180px;
}

mat-form-field span[matPrefix]{
  padding-right: 0.3em;
}

mat-form-field span[matSuffix] {
  padding-left: 0.3em;
}

input[type="number"] {
  text-align: right;
}

.page-title {
  margin-top: 1em;
}

mat-radio-group, mat-form-field, mat-table {
  padding: 1em;
}

.app-spacer-vert-m {
  display: block;
  height: 1em;
  margin: 0;
  padding: 0;
}
