@import '../../../assets/css/constants';

.message-box {
  display: block;
  border: $default-border;
  border-radius: $default-border-radius 0em $default-border-radius $default-border-radius;
  margin: 1em 0em 1em 2em;
  text-align: right;
  padding: 0px 10px;
}

div.currentUser {
  background-color: $owner-background-color;
  margin: 1em 2em 1em 0em;
  border-radius: 0em $default-border-radius $default-border-radius;
  text-align: left;
}

span.currentUser {
  display: none;
}

.chat-message {
  white-space: pre-wrap;
}

/**
material Anpassungen
 */

.mat-form-field {
  width: 90%;
}

