<h2>Meine Anfragen</h2>
<table>
  <tr>
    <th></th>
    <th>Wann</th>
    <th>Ort</th>
    <th>Status</th>
  </tr>
  <tr *ngFor="let request of meetUpRequests; let i = index"  routerLink="/meetupdetail" [queryParams]="{meetupId: request.meetup.id}">
    <td>Anfrage {{ i + 1 }}</td>
    <td>{{request.meetup.from | dateTimeFormat}}</td>
    <td *ngIf="request.meetup.indoor">{{request.meetup.indoor}}</td>
    <td *ngIf="request.meetup.outdoor && !request.meetup.indoor">{{request.meetup.outdoor}}</td>
    <td>{{request.status}}</td>
  </tr>
</table>

