<h2>User Registration</h2>

<form [formGroup]="loginForm" novalidate (ngSubmit)="onClickRegister()">
  <label>Name: <input formControlName="username"></label>
  <app-validation-feedback *ngIf="loginForm.controls.username | hasError:'required'">Username required</app-validation-feedback> <!-- spezifische Validierungs Fehler -->
  <app-validation-feedback *ngIf="loginForm.controls.username | hasError:'minlength'">Username zu kurz</app-validation-feedback>
  <br>
  <label>Passwort: </label><input formControlName="password">
  <app-validation-feedback *ngIf="loginForm.controls.password | hasSomeError">irgendein Fehler</app-validation-feedback> <!-- irgend ein Validierungs Fehler -->
  <br>
  <label>Passwort bestätigen: </label><input formControlName="password2">
  <br>
  <label>Email: </label><input formControlName="email">
  <app-validation-feedback *ngIf="loginForm.controls.email | hasError:'email'">ungültiges Format</app-validation-feedback>
  <div>
    <span>Geschlecht: </span>
    <label><input type="radio" formControlName="sex" value="m">Män</label>
    <label><input type="radio" formControlName="sex" value="f">Frou</label>
  </div>
  <app-validation-feedback *ngIf="(loginForm | hasError:'passwordMismatch')
                                && loginForm.controls.password.touched && loginForm.controls.password2.touched">
    Voll Fett Beide Passworter nicht identisch
  </app-validation-feedback>
  <button type="submit">Mach User</button>
</form>

