  <div class="app-spacer-vert--l"></div>
  <div class="headline">
    <h1 class="mat-display-1 head-title">{{'header.title' | translate}}</h1>
    <h2 class="mat-h3">{{appState.loggedInUser?.username}}</h2>
    <nav>
      <a mat-button href="#" (click)="changeLanguage('de', $event)">{{'header.deutsch' | translate}}</a>
      <a mat-button href="#" (click)="changeLanguage('fr', $event)">{{'header.franz' | translate}}</a>
      <a mat-button href="#" (click)="changeLanguage('it', $event)">{{'header.ital' | translate}}</a>
    </nav>
  </div>

  <nav mat-tab-nav-bar>
    <span *ngIf="appState.isLoggedIn; else publicBlock">
      <!-- place routes here for loggedIn mode-->
      <a mat-tab-link routerLink="/"
        [active]="isActiv('/')">
        {{'header.link.home' | translate}}
      </a>
      <a mat-tab-link routerLink="/{{meetupSearchUrl}}"
        [active]="isActiv('/' + meetupSearchUrl)">
        {{'header.link.search' | translate}}
      </a>
      <a mat-tab-link routerLink="/{{myMeetupsUrl}}"
        [active]="isActiv('/' + myMeetupsUrl)">
        {{'header.link.myMeetups' | translate}}
      </a>
      <a mat-tab-link routerLink="/{{meetupUrl}}"
        [active]="isActiv('/' + meetupUrl)">
        {{'header.link.newMeetup' | translate}}
      </a>
      <a mat-tab-link routerLink="/{{updateUserUrl}}"
        [active]="isActiv('/' + updateUserUrl)">
        {{'header.link.updateUser' | translate}}
      </a>
      <a mat-tab-link *ngIf="appState.isLoggedIn" (click)="logout()">{{'header.logout' | translate}}</a>
    </span>
    <ng-template #publicBlock>
      <a mat-tab-link routerLink="/{{loginUrl}}"
         [active]="isActiv('/' + loginUrl)">
        {{'header.link.login' | translate}}
      </a>
      <a mat-tab-link routerLink="/{{registrationUrl}}"
         [active]="isActiv('/' + registrationUrl)">
        {{'header.link.register' | translate}}
      </a>
      <a mat-tab-link routerLink="/"
         [active]="isActiv('/')">
        {{'header.link.home' | translate}}
      </a>
    </ng-template>
  </nav>

