@import '../../assets/css/constants';
@import '../../assets/css/general';

.headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.head-title {
  margin-bottom: 1em;
}

.mat-tab-nav-bar {
  text-align: center;
  border-style: $default-border-style;
  border-color:  $default-border-color;
  border-width: $default-border-width 0px;
}

@media (max-width: $max-xs-width) {
  .headline {
    flex-direction: column;
  }

  .headline > * {
    text-align: center;
  }

  .mat-tab-nav-bar a {
    width: 49%;
  }
}

