
.headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mat-tab-nav-bar {
  text-align: center;
}

@media (max-width: 40em) {
  .headline {
    flex-direction: column;
  }
  .headline > * {
    text-align: center;
  }
}

