<h1>{{'header.title' | translate}}<span>     {{appState.loggedInUser?.username}}</span></h1>
<a href="#" (click)="changeLanguage('de', $event)">{{'header.deutsch' | translate}}</a>
<a href="#" (click)="changeLanguage('fr', $event)">{{'header.franz' | translate}}</a>
<button *ngIf="appState.isLoggedIn" (click)="logout()">{{'header.logout' | translate}}</button>
<br>
<br>
<nav>
  <a routerLink="/">{{'header.link.home' | translate}}</a><br>
  <div *ngIf="appState.isLoggedIn; else publicBlock">
    <!-- place routes here for loggedIn mode-->
    <a routerLink="/updateuser">{{'header.link.updateUser' | translate}}</a><br>
    <a routerLink="/mymeetups">{{'header.link.myMeetups' | translate}}</a><br>
    <a routerLink="/meetup">{{'header.link.newMeetup' | translate}}</a><br>
    <a routerLink="/meetupsearch">{{'header.link.search' | translate}}</a>
  </div>
  <ng-template #publicBlock>
    <a routerLink="/login">{{'header.link.login' | translate}}</a><br>
    <a routerLink="/registration">{{'header.link.register' | translate}}</a>
  </ng-template>
</nav>
