  <div class="app-spacer-vert--l"></div>
  <div class="headline">
    <h1 class="mat-display-1 head-title">{{'header.title' | translate}}</h1>
    <h2 class="mat-h3">{{appState.loggedInUser?.username}}</h2>
    <nav>
      <a mat-button href="#" (click)="changeLanguage('de', $event)">{{'header.deutsch' | translate}}</a>
      <a mat-button href="#" (click)="changeLanguage('fr', $event)">{{'header.franz' | translate}}</a>
    </nav>
  </div>

  <nav mat-tab-nav-bar>
    <span *ngIf="appState.isLoggedIn; else publicBlock">
      <!-- place routes here for loggedIn mode-->
      <a mat-tab-link routerLink="/"
        [active]="isActiv('/')">
        {{'header.link.home' | translate}}
      </a>
      <a mat-tab-link routerLink="/meetupsearch"
        [active]="isActiv('/meetupsearch')">
        {{'header.link.search' | translate}}
      </a>
      <a mat-tab-link routerLink="/mymeetups"
        [active]="isActiv('/mymeetups')">
        {{'header.link.myMeetups' | translate}}
      </a>
      <a mat-tab-link routerLink="/meetup"
        [active]="isActiv('/meetup')">
        {{'header.link.newMeetup' | translate}}
      </a>
      <a mat-tab-link routerLink="/updateuser"
        [active]="isActiv('/updateuser')">
        {{'header.link.updateUser' | translate}}
      </a>
      <a mat-tab-link *ngIf="appState.isLoggedIn" (click)="logout()">{{'header.logout' | translate}}</a>
    </span>
    <ng-template #publicBlock>
      <a mat-tab-link routerLink="/login"
         [active]="isActiv('/login')">
        {{'header.link.login' | translate}}
      </a>
      <a mat-tab-link routerLink="/registration"
         [active]="isActiv('/registration')">
        {{'header.link.register' | translate}}
      </a>
      <a mat-tab-link routerLink="/"
         [active]="isActiv('/')">
        {{'header.link.home' | translate}}
      </a>
    </ng-template>
  </nav>

